<h1> a2-mask </h1>

Simplest angular2 input mask


<pre lg="console"> npm install a2-mask </pre>

<pre lg="typescript">{{ inst }}</pre>


<hr>
<h3>Examples:</h3>
<br>

<hr>
<br>
<pre lg="html">{{ num }}</pre>
<label>
    Number:
    <input type="text" [a2-mask]="'number'">
</label>

<hr>
<br>
<pre lg="html">{{ float }}</pre>
<label>
    Float number:
    <input type="text" [a2-mask]="'float'">
</label>


<hr>
<br>
<pre lg="html">{{ date }}</pre>
<label>
    Date:
    <input type="text" [a2-mask]="'date'">
</label>

<hr>
<br>
<pre lg="html">{{ phone }}</pre>
<label>
    Phone:
    <input type="text" [a2-mask]="'phone'">
</label>

<hr>
<br>
<pre lg="typescript">{{ pattern }}</pre>
<label>
    Pattern:
    <input type="text" [a2-mask]="{pattern: '9-xxx-A-S'}">
</label>






<hr>

<a href="https://github.com/avil13/a2-notifications" class="gh-bg">
    GitHub repository
</a>
